<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My CRUDdy Fruits</title>
        <!-- Link in our CSS -->
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <header>
            <h1>CRUDdy Fruits App</h1>
        </header>
        <main>
            {% block content %}
                My default content
            {% endblock %}
        </main>
    </body>
</html>
